<div class="row">
  <div class="col-12" style="text-align: center; margin-top: 1rem;">
    <h2>Recent Posts</h2>
  </div>
</div>

<div class="accordion" id="accordionExample">
  {{#each blogs as |blog|}}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{blog.id}}">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          <strong>
            {{blog.title}}
          </strong>
          - Created by:
          {{blog.user.name}}
          -
          {{format_date blog.date_created}}
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          {{blog.content}}
        </div>
      </div>
    </div>
  {{/each}}
</div>